<div class="hero-unit drop span6">
	<h1>
		<%=@restaurant.name%>
	<h1>
	<p class="makesmall" >
		a picture should end up going here
	</p>
</div>
	<div class= "well center span 6 info">
		<p id="description">
			<%= @restaurant.description %>
		</p>
		<ul id = "address center" class = " span6">
			<li id ="street">
				<%= @restaurant.street%>
			</li>
			<li id='cityandstate'>
				<%=@restaurant.city%> , 

				<%=@restaurant.state%>
			</li>
			<li id ="zip">
				<%= @restaurant.zip%>
			</li>
			<li>
				<%=link_to "edit",edit_restaurant_path(@restaurant), :class => 'btn btn-primary btn-large'%>

				<%=link_to "delete",@restaurant,:method => 'delete', :class => 'btn btn-primary btn-large'%>
			</li>
		</ul>
	</div>


</div>
