<div class="hero-unit">
	<h1>
		<%=@restaurant.name%>
	<h1>
	<p>
		a picture should end up going here
	<p>

	<div class= "well">
		<p id="description">
			<%= @restaurant.description %>
		</p>
		<ul id = "address">
			<li id ="street">
				<%= @restaurant.street%>
			</li>
			<li id='city'>
				<%=@restaurant.city%>
			</li>
			<li id ="state">
				<%=@restaurant.state%>
			</li>
			<li id ="zip">
				<%= @restaurant.zip
			</li>
		</p>

	<div>


</div>
